<mat-accordion>
  
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        JINA IMMO
      </mat-panel-title>
      <mat-panel-description>
        Chercher un bien {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="example-container">
      <form #form="ngForm">
        <input matInput placeholder="Prix">
      <mat-form-field>
        <mat-select placeholder="type" name="typebien" (change)="search(form.value.typebien,'Typebien')" ngModel>
          <mat-option value="option" *ngFor="let type of types"[value]="type.id" >{{type.nomtypebien}}</mat-option>
        </mat-select>
      </mat-form-field>       
      <mat-form-field>
        <mat-select placeholder="Localite" name="localite" (change)="search(form.value.localite,'Localite')" ngModel>
          <mat-option value="option" *ngFor="let localite of localites"[value]="localite.id" >{{localite.nomlocalite}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>

