#res {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 500px;
    position: relative;
    left: 25px;
  
  }
  h1{
    text-align: center;
  }
  .image{
    width: 500px;
  }

  .demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }