<div class="">
<div class="row" id="res">
  <div class="cat" >
    <mat-card class="card">
        <img class="image" mat-card-image src="data:image/jpg;base64,{{bienn.images[0].image}}">
          
        <mat-card>
            <mat-card-content>
              <mat-tab-group class="demo-tab-group">
                <mat-tab label="Detail">
                  <div class="demo-tab-content">

                        <mat-card-content>
                          {{bienn.nombien}}    
                          {{bienn.prix}}
                          {{bienn.description}}
                        </mat-card-content>
                  </div>
                </mat-tab>
                <mat-tab label="Image">
                  <div class="demo-tab-content carousel">
                      <img class="image" mat-card-image src="data:image/jpg;base64,{{bienn.images[0].image}}">
                  </div>  
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        
        
        
       
    </mat-card>
  </div> 
<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Connection">
        <div class="demo-tab-content">
          <app-form-connection></app-form-connection>
        </div>
      </mat-tab>
      <mat-tab label="Inscription">
        <div class="demo-tab-content">
         <app-form-inscription></app-form-inscription>
        </div>  
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

</div>    
</div>

